/* 1107 - 1229 */
@media screen and (max-width: 1229px) {
  .container {
    padding: 0 20px;
  }

  .layout {
    .header {
      .container {
        .menu {
          padding-left: 210px;
        }
      }
    }
  }

  .projects {
    .projects-house {
      column-gap: 18px;
    }
  }

  .technologies {
    .container {
      max-width: 1000px;

      .technologies-block1 {
        left: 60px;
        top: -460px;

        .animation-point {
          left: 265px;
          top: 6px;
        }

        .animation-circle {
          left: 287px;
          top: 28px;
        }

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }

      .technologies-block2 {
        left: 75px;
        top: -198px;

        .animation-point {
          left: 183px;
        }

        .animation-circle {
          left: 205px;
        }

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }

      .technologies-block3 {
        left: 474px;
        top: -50px;
        width: 272px;

        .animation-point {
          left: -66px;
        }

        .animation-circle {
          left: -44px;
        }

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }

      .technologies-block4 {
        left: 621px;
        top: -232px;
        width: 272px;

        .animation-point {
          left: -56px;
          top: -35px;
        }

        .animation-circle {
          left: -34px;
          top: -13px;
        }

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }

      .technologies-block5 {
        left: 726px;
        top: -414px;
        width: 250px;

        .animation-point {
          left: -76px;
        }

        .animation-circle {
          left: -54px;
        }

        .animation-text {
          width: 250px;
        }

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }
    }
  }

  .steps {
    .steps-blocks {
      gap: 83px 58px;
    }
  }

  .houses {
    .container {
      .slider {
        .slider-prev-arrow {
          display: none !important;
        }

        .slider-next-arrow {
          display: none !important;
        }
      }
    }
  }

  .payment {
    .payment-square {
      display: block;

      .payment-square-block {
        margin-bottom: 20px;
      }
    }
  }

  .consultation {
    .container {
      column-gap: 5px;

      .consultation-form {
        .consultation-form-title {
          font-size: 33px;
        }
      }
    }
  }

  .excursion {
    overflow-x: hidden;
    margin-bottom: 60px;

    .container {
      background-image: url("../src/images/map.png");
      background-position: center;
      background-size: cover;

      .excursion-fon {
        .excursion-fon-map {
          display: none;
        }

        .excursion-fon-points {
          display: none;
        }
      }

      .excursion-info {
        padding: 235px 0 111px;
      }
    }
  }

}

/* 1024 - 1106 */
@media screen and (max-width: 1106px) {
  .layout {
    .header {
      .container {
        .menu {
          padding-left: 91px;
        }
      }
    }
  }

  .projects {
    .projects-house {
      .projects-house-info {
        .projects-house-info-description {
          font-size: 16px;
        }
      }
    }
  }

  .steps {
    .steps-blocks {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .consultation-image img {
    max-width: 500px;
  }

}

/* 820 - 1023 */
@media screen and (max-width: 1023px) {
  .main {
    padding: 102px 0 140px;

    .container {
      display: block;

      .main-scroll {
        display: none;
      }

      .main-info {
        margin: 0 auto;
      }

      .main-links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

        a {
          margin: 0 15px;
        }
      }
    }
  }

  .projects {
    .projects-house {
      display: grid;
      justify-content: center;
      text-align: center;

      .projects-house-info {
        margin: 40px 0;
        order: 2;
        grid-template-columns: max(588px);

        .projects-house-info-title {
          text-align: center;
        }

        .projects-house-info-description {
          text-align: center;
        }
      }

      .projects-house-images {
        order: 1;
      }
    }
  }

  .technologies-block-all {
    display: none;
  }

  .technologies-block-all-for-small-size {
    display: block;
  }

  .steps {
    .steps-blocks {
      grid-template-columns: 1fr 1fr;
    }
  }

  .slide-card .slide-card-text {
    padding: 6px 33px;
  }

  .payment {
    .payment-circle {
      display: grid;
      row-gap: 50px;
    }
  }

  .consultation {
    .container {
      display: grid;
      row-gap: 50px;

      .consultation-form {
        max-width: 500px;
      }
    }
  }

}

/* 640 - 819 */
@media screen and (max-width: 819px) {
  .layout {
    .header {
      .container {
        .header-info {
          display: none;
        }
      }
    }
  }

  .main {
    padding: 60px 0 110px;

    .container {
      .main-links {
        margin-top: 15px;
      }
    }
  }

  .projects {
    .projects-house {
      padding: 0;
    }
  }

  .technologies {
    padding: 45px 0 140px;
  }

  .slick-track {
    top: -18px;
    left: -41px;
    padding: 41px;
  }

  .slick-center.slide, .slick-active.slide {
      transform: scale(1.2);
  }

  .slide-card {
    display: flex;
    font-size: 15px;

    .slide-card-text {
      padding: 10px 84px;
    }

    .slide-card-text-title {
      font-size: 18px;
    }
  }

  .payment {
    .payment-square {
      padding: 0;
    }

    .payment-circle {
      row-gap: 23px;
    }
  }

  .footer {
    .container {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;

      .logos {
        margin: 0 0 50px 0;
        order: 1;

        .footer-links {
          margin-top: 35px;
        }
      }

      .footer-info1 {
        order: 2;
        margin-bottom: 50px;
      }

      .footer-info2 {
        text-align: center;
        margin: 0 auto;
        order: 3;

        .info-phone {
          margin-left: 10px;
        }
      }
    }
  }

}

/* 425 - 639 */
@media screen and (max-width: 639px) {
  .layout .header .container .burger svg {
    width: 30px;
  }
  .logo img {
    width: 80px;
  }

  .title {
    font-size: 30px;
  }

  .layout {
    .header {
      .container {
        .menu {
          .menu-title {
            font-size: 30px;
            margin-bottom: 28px;
          }

          .menu-links {
            margin-top: 45px;
            img {
              margin-right: 18px;
              width: 25px;
            }
          }
          .close {
            height: 15px;
            width: 15px;
            margin-bottom: 32px;
          }
        }
      }
    }
  }

  .main {
    .container {
      .main-info {
        max-width: 450px;

        .main-info-title {
          font-size: 30px;
        }

        .main-info-description {
          line-height: 1.2;
          font-size: 15px;
        }
      }
    }
  }

  .projects {
    padding: 12px 0 30px;

    .projects-house {
      .projects-house-images {
        .projects-house-image {
          img {
            width: 370px;
            margin: 5px;
          }
        }
        .projects-house-image-small {
          .projects-house-image {
            img {
              width: 114px;
            }
          }
        }
      }

      .projects-house-info {
        grid-template-columns: 370px;

        .projects-house-info-title {
          font-size: 24px;
        }

        .projects-house-info-description {
          font-size: 12px;
        }
        .projects-house-buttons {
          .button, .button-pdf {
            width: 280px;
            font-size: 12px;
          }
        }
      }
    }

    .projects-more {
      .projects-more-button {
        font-size: 12px;

        .projects-more-image {
          width: 12px;
        }
      }
    }
  }

  .technologies {
    padding: 20px 0 172px;

    .technologies-house {
      img {
        width: 300px;
      }
    }
  }

  .technologies-block-all-for-small-size {
    .animation-point-circle1 {
      top: -223px;
      transform: translate(-196%);
    }

    .animation-point-circle2 {
      top: -167px;
      transform: translate(-232%);
    }

    .animation-point-circle3 {
      top: -61px;
      transform: translate(-94%);
    }

    .animation-point-circle4 {
      top: -182px;
      transform: translate(24%);
    }

    .animation-point-circle5 {
      top: -237px;
      transform: translate(71%);
    }

    .technologies-block-all-for-small-size-fon {
      width: 124px;
      padding: 10px;

      .animation-title {
        font-size: 14px;
      }

      .animation-text {
        font-size: 12px;
      }
    }

    .technologies-block-all-for-small-size-fon1 {
      top: -353px;
      transform: translate(-104%);

      .animation-fon {
        top: 95px;
        left: 21px;
      }
    }

    .technologies-block-all-for-small-size-fon2 {
      top: -108px;
      transform: translate(-132%);

      .animation-fon {
        left: 35px;
      }
    }

    .technologies-block-all-for-small-size-fon3 {
      top: 1px;
      transform: translate(-100%);

      .animation-fon {
        left: 84px;
      }
    }

    .technologies-block-all-for-small-size-fon4 {
      top: -121px;
      transform: translate(2%);

      .animation-fon {
        left: 20px;
      }
    }

    .technologies-block-all-for-small-size-fon5 {
      top: -335px;
      transform: translate(10%);

      .animation-fon {
        left: 40px;
        top: 62px;
      }
    }
  }

  .steps {
    .steps-blocks {
      gap: 55px;

      .steps-block {
        .steps-block-symbol {
          .steps-block-symbol-number {
            font-size: 50px;
          }

          .steps-block-symbol-image {
            top: 40px;
            left: 10px;

            img {
              width: 36px;
            }
          }
        }

        .steps-block-text {
          .steps-block-text-title {
            margin: 14px 0 10px;
            font-size: 16px;
          }

          .steps-block-text-description {
            font-size: 14px;
          }
        }
      }
    }
  }

  .houses {
    padding: 0;
  }

  .slick-track {
    top: 19px;
    left: -27px;
    padding: 27px;
  }

  .slide-card {
    font-size: 13px;

    .slide-card-text {
      padding: 10px 56px;
    }

    .slide-card-text-title {
      font-size: 16px;
    }
  }

  .steps {
    .steps-blocks {
      grid-template-columns: 1fr;
    }
  }

  .payment {
    .payment-square {
      .payment-square-block {
        padding: 20px;
        align-items: start;

        img {
          margin-right: 25px;
          width: 36px;
        }
      }
    }

    .payment-circle {
      .payment-circle-block {
        .payment-circle-block-image {
          width: 122px;
          height: 122px;
          margin: 10px auto;

          img {
            padding: 20px;
          }
        }
      }
    }

    .payment-button-pdf {
      width: 280px;
      font-size: 12px;
    }

    .payment-circle {
      .payment-square-block {
        .payment-circle-block-image {
          width: 110px;
          height: 110px;

          img {
            width: 45px;
          }
        }
      }
    }
  }

  .payment-block-description {
    font-size: 15px;
  }

  .excursion {
    .excursion-info {
      .excursion-info-title {
        font-size: 40px;
      }
    }
  }

  .form-button, .input {
    width: 280px;
    font-size: 12px;
  }

  .input {
    padding: 12px 25px;
  }

  .input::placeholder {
    font-size: 12px;
  }
  .form-button {
    width: 280px;
  }

  .consultation-image {
    margin: 0 auto;

    img {
      max-width: 370px;
    }
  }

  .excursion {
    .container {
      .excursion-info {
        padding: 121px 0 15px;

        .excursion-info-description {
          font-size: 15px;
        }
      }
    }
  }

  .popup {
    .popup-container {
      width: 290px;
      padding: 50px 10px;
    }

    h3 {
      font-size: 11px;
      max-width: 260px;
    }

    .form-agree {
      margin-left: 65px;
    }
  }

  .form-agree {
    margin-left: 80px;
    font-size: 11px;
    max-width: 245px;
  }

  .popup .close {
    width: 14px;
  }

  .button {
    font-size: 12px;
  }

  .button:hover {
    transform: scale(1.04);
  }

  .footer {
    padding: 40px 0 65px;

    .container {
      .logos {
        margin-bottom: 20px;

        .footer-links {
          margin-top: 10px;
        }
      }

      .footer-info1 {
        margin-bottom: 20px;
      }

      .footer-info-address, .footer-info-time, .info-phone {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }

  .excursion {
    .excursion-info {
      .excursion-info-button {
        width: 280px;
      }
    }
  }

  .footer .container .logos .footer-links img {
    width: 20px;
  }

  .consultation {
    .container {
      .consultation-form {
        max-width: 400px;
        padding: 0 10px;
      }
    }
  }

}

/* 320 - 424 */
@media screen and (max-width: 424px) {
  .title {
    font-size: 26px;
  }

  .main {
    .container {
      .main-info {
        .main-info-title {
          font-size: 26px;
        }

        .main-info-button {
          width: 280px;
        }
      }
    }
  }

  .projects {
    padding: 12px 0 30px;

    .projects-house {
      .projects-house-images {
        .projects-house-image {
          img {
            width: 280px;
          }
        }
        .projects-house-image-small {
          .projects-house-image {
            img {
              width: 84px;
            }
          }
        }
      }

      .projects-house-info {
        grid-template-columns: 300px;

        .projects-house-info-dop {
          .projects-circle {
            width: 96px;
            height: 96px;
            font-size: 14px;
            margin: 25px 0;
          }
        }
      }
    }
  }

  .technologies {
    padding: 20px 0 106px;

    .technologies-house img {
      width: 280px;
    }
  }

  .technologies-block-all-for-small-size {
    .animation-point-circle1 {
      top: -235px;
      transform: translate(-168%);
    }

    .animation-point-circle2 {
      top: -158px;
      transform: translate(-215%);
    }

    .animation-point-circle3 {
      top: -79px;
      transform: translate(-68%);
    }

    .animation-point-circle4 {
      top: -181px;
      transform: translate(24%);
    }

    .animation-point-circle5 {
      top: -230px;
      transform: translate(57%);
    }

    .technologies-block-all-for-small-size-fon {
      width: 106px;
      padding: 10px;

      .animation-title {
        font-size: 11px;
      }

      .animation-text {
        font-size: 9px;
      }
    }

    .technologies-block-all-for-small-size-fon1 {
      top: -328px;
      transform: translate(-99%);

      .animation-fon {
        top: 56px;
        left: 15px;
      }
    }

    .technologies-block-all-for-small-size-fon2 {
      top: -102px;
      transform: translate(-121%);

      .animation-fon {
        left: 8px;
      }
    }

    .technologies-block-all-for-small-size-fon3 {
      top: -20px;
      transform: translate(-68%);

      .animation-fon {
        left: 44px;
      }
    }

    .technologies-block-all-for-small-size-fon4 {
      top: -121px;
      transform: translate(2%);

      .animation-fon {
        left: 20px;
      }
    }

    .technologies-block-all-for-small-size-fon5 {
      top: -309px;
      transform: translate(8%);

      .animation-fon {
        left: 35px;
        top: 41px;
      }
    }
  }

  .slide-card .slide-card-text-title {
    font-size: 12px;
  }
  .slide-card {
    font-size: 10px;
  }
  .slide-card .slide-card-text {
    padding: 10px 34px;
  }

  .payment {
    padding-bottom: 0;
  }

  .consultation-image {
    img {
      max-width: 280px;
    }
  }

  .form-agree {
    margin-left: 60px;
  }

  .excursion {
    .container {
      .excursion-info {
        padding: 0;

        .excursion-info-title {
          font-size: 33px;
        }
      }
    }
  }

}