* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Neumann;
  src: url("../src/fonts/td-neumann.otf");
}

@font-face {
  font-family: Museo-100;
  src: url("../src/fonts/ofont.ru_Museo Sans Cyrl 100.ttf");
}

@font-face {
  font-family: Museo-300;
  src: url("../src/fonts/ofont.ru_Museo Sans Cyrl 300.ttf");
}

@font-face {
  font-family: Museo-500;
  src: url("../src/fonts/ofont.ru_Museo Sans Cyrl 500.ttf");
}

@font-face {
  font-family: Museo-700;
  src: url("../src/fonts/ofont.ru_Museo Sans Cyrl 700.ttf");
}

body {
  background: #25252d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-family: Neumann, sans-serif;
  color: rgb(236, 198, 107);
  line-height: 1.2;
  margin-bottom: 25px;
  text-align: center;
}

.button {
  font-size: 18px;
  font-family: Museo-700, sans-serif;
  line-height: 3.333;
  text-align: center;
  border-radius: 30px;
  padding: 0 21px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(0deg, rgb(252, 195, 114) 0%, rgb(240, 219, 188) 100%);
  color: rgb(37, 37, 45);
  border: 0;
  transition: all .8s ease;

  &:hover {
    box-shadow: 0 5px 9px 1px rgb(117, 92, 52);
    transform: scale(1.1);
  }
}

.button-pdf {
  text-decoration: none;
  font-size: 18px;
  font-family: Museo-700, sans-serif;
  line-height: 3.333;
  text-align: center;
  border-radius: 30px;
  padding: 0 21px;
  cursor: pointer;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  transition: all .8s ease;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0 5px 9px 1px rgb(101, 101, 101);
    transform: scale(1.1);
  }
}

.logo img {
  transition: all .8s ease;

  &:hover {
    transform: scale(1.2);
  }
}

.info-phone {
  font-size: 18px;
  font-family: Museo-700, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.833;
}

.info-call {
  display: flex;
  align-items: center;
  text-decoration: none;

  img {
    animation: rotate 3s linear infinite;
    @keyframes rotate {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }

  p {
    font-size: 16px;
    font-family: Museo-700, sans-serif;
    color: rgb(236, 198, 107);
    line-height: 0.938;
    border-bottom: 1px solid rgb(227, 191, 104);
    text-decoration: none;
    background: linear-gradient(to bottom, transparent 0%, transparent 90%, #e3bf68 100%) no-repeat 200% 0;
    background-size: 200% 100%;
    transition: all 0.5s linear;

    &:hover {
      background-position: 100% 0;
    }
  }
}

.social-links {

  a {
    text-decoration: none;

    img {
      transition: all .3s ease;

      &:hover {
        transform: scale(1.2);
        opacity: 50%;
      }
    }
  }
}

.input {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 33px;
  //width: 409px;
  width: 100%;
  padding: 22px 25px;
  font-family: Museo-300, sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  margin: 10px 0;
}

.input::placeholder {
  color: rgb(255, 255, 255);
  font-family: Museo-300, sans-serif;
  font-size: 18px;
}

.error-input {
  color: #ff0000;
  margin: 0 0 15px 0;
  font-size: 15px;
  display: none;
}

.was-validated {
  .input:invalid {
    border-color: #ff0000;
  }

  & :invalid ~ .error-input {
    display: block;
  }
}

.form-button {
  //width: 409px;
  width: 100%;
  margin: 10px 0;
}

.form-agree {
  font-size: 14px;
  font-family: Museo-300, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.286;
  margin-top: 20px;
  margin-left: 104px;
  max-width: 315px;
  text-align: left;

  .input-agree {
    position: relative;
    appearance: none;
    transform: translate(-47px, -9px);
    cursor: pointer;
  }

  .input-agree::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    transform: translate(-9%, 8%);
    border: 1px solid #fff;
  }

  .input-agree:checked::after {
    content: url("../src/images/click.png");
    position: absolute;
  }

  a {
    color: rgb(255, 255, 255);
  }
}

.layout {
  background-image: url("../src/images/podlozhka.png");
  background-position: center;
  background-size: cover;

  .header {
    padding: 21px 0;
    border-bottom: 1px solid rgb(54, 61, 81);

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .burger {
        width: 40px;
        margin-right: 100px;
        cursor: pointer;

        svg {
          fill: #ffffff;

          &:hover {
            animation: recolor-increase 4s;
            @keyframes recolor-increase {
              from {
                fill: #ffffff;
                transform: scale(1);
              }
              10% {
                fill: #e8d2b2;
              }
              60% {
                fill: #f2bc70;
                transform: scale(1.05);
              }
              to {
                fill: #ffffff;
                transform: scale(1);
              }
            }
          }
        }
      }

      .header-info {
        text-align: right;
      }

      .menu {
        background-color: #26242d;
        padding: 35px 91px 420px 310px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        display: none;

        &.open {
          display: block;
        }

        .close {
          height: 30px;
          width: 30px;
          fill: white;
          margin-bottom: 51px;
          cursor: pointer;
        }

        .menu-title {
          font-size: 40px;
          font-family: Neumann, sans-serif;
          color: rgb(255, 255, 255);
          margin-bottom: 45px;
        }

        ul {

          li {
            margin: 15px 0;
            list-style: none;

            a {
              font-size: 18px;
              font-family: Museo-300, sans-serif;
              color: rgb(255, 255, 255);
              text-decoration: none;

              span {
                display: none;
                border-radius: 50%;
                width: 5px;
                height: 5px;
                background-color: #e2bf67;
                margin-right: 15px;
                vertical-align: middle;
              }

              &:hover {
                color: #e2bf67;

                span {
                  display: inline-block;
                }
              }
            }
          }
        }

        .menu-links {
          margin-top: 56px;

          img {
            margin-right: 30px;
          }
        }
      }
    }
  }
}

.main {
  padding: 162px 0 340px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main-scroll {
      text-decoration: none;
      display: flex;
      align-items: center;
      transform: rotate(-90deg);
      transform-origin: 155px 170px;

      img {
        margin-right: 31px;
        animation: rocking 2s .6s infinite;

        @keyframes rocking {
          from {
            transform: translate(0, 0);
          }
          50% {
            transform: translate(20px, 0);
          }
          to {
            transform: translate(0, 0);
          }
        }

      }

      p {
        font-size: 18px;
        font-family: Museo-500, sans-serif;
        color: rgb(186, 186, 186);
        line-height: 3.333;
        text-align: center;
      }
    }

    .main-info {
      max-width: 595px;
      text-align: center;
      margin-right: 155px;

      .main-info-title {
        font-size: 50px;
      }

      .main-info-description {
        font-size: 18px;
        font-family: Museo-700, sans-serif;
        color: rgb(255, 255, 255);
        line-height: 3.333;
        margin-bottom: 40px;
      }

      .main-info-button {
        width: 300px;
      }
    }

    .main-links {

      a {
        display: block;

        img {
          margin: 15px 0;
        }
      }
    }
  }
}

.projects {
  padding: 42px 0 60px 0;

  .projects-house {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 68px 0;
    column-gap: 108px;

    .projects-house-images {
      margin: -10px;

      .projects-house-image {
        text-decoration: none;

        img {
          margin: 10px;
        }
      }
    }

    .projects-house-info {
      display: grid;
      justify-content: center;

      .projects-house-info-title {
        font-size: 30px;
        font-family: Museo-500, sans-serif;
        color: rgb(255, 255, 255);
        text-align: left;
        margin-bottom: 35px;
      }

      .projects-house-info-description {
        font-size: 18px;
        font-family: Museo-300, sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.278;
        text-align: left;
      }

      .projects-house-info-dop {
        display: flex;
        font-size: 20px;
        font-family: Museo-500, sans-serif;
        color: rgb(236, 198, 107);
        line-height: 1.25;
        justify-content: space-between;

        .projects-circle {
          border-radius: 50%;
          border: 1px solid #ECC66BFF;
          width: 110px;
          height: 110px;
          text-align: center;
          padding: 16px;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 43px 0;
        }
      }

      .projects-house-buttons {
        display: grid;
        justify-content: center;

        .projects-house-info-button {
          width: 365px;
          margin-bottom: 20px;
        }

        .projects-house-info-button-pdf {
          width: 365px;
        }
      }
    }
  }

  .projects-more {
    display: flex;
    justify-content: center;
    align-items: center;

    .projects-more-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      cursor: pointer;
      font-size: 18px;
      font-family: Museo-500, sans-serif;
      color: rgb(137, 137, 138);
      line-height: 1.389;

      .projects-more-text {
        margin-right: 10px;
      }

      .projects-more-image {
        transition: all .5s ease;
      }

      .projects-more-image.transform {
        transform: rotate(180deg);
      }
    }
  }
}

.mfp-no-margins img.mfp-img {
  padding: 0;
}

.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

.mfp-no-margins .mfp-container {
  padding: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

img.mfp-img {
  width: 800px;
}

.technologies-block-all-for-small-size {
  display: none;
  position: relative;

  .animation-point-circle {
    position: absolute;
    transition: all .3s ease;
    mix-blend-mode: screen;

    &:hover {
      filter: sepia(100%) drop-shadow(0 0 0.55rem rgba(224, 199, 140, 0.6));
    }
  }

  .animation-point-circle1 {
    top: -438px;
    left: 50%;
    transform: translate(-290%);
  }

  .animation-point-circle2 {
    top: -233px;
    left: 50%;
    transform: translate(-338%);
  }

  .animation-point-circle3 {
    top: -99px;
    left: 50%;
    transform: translate(-81%);
  }

  .animation-point-circle4 {
    top: -260px;
    left: 50%;
    transform: translate(109%);
  }

  .animation-point-circle5 {
    top: -417px;
    left: 50%;
    transform: translate(220%);
  }

  .technologies-block-all-for-small-size-fon {
    background-color: #32313a;
    width: 210px;
    padding: 20px;
    position: absolute;
    left: 50%;
    display: none;

    .animation-fon {
      position: absolute;
      top: -10px;
      z-index: -1;
    }

    .animation-title {
      font-size: 18px;
      font-family: Museo-500, sans-serif;
      font-weight: bold;
      color: rgb(255, 255, 255);
      line-height: 1.278;
      transition: .3s;
    }

    .animation-text {
      font-size: 16px;
      font-family: Museo-100, sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1.313;
      margin-top: 10px;
    }
  }

  .technologies-block-all-for-small-size-fon1 {
    top: -378px;
    transform: translate(-105%);

    .animation-fon {
      left: 68px;
    }
  }

  .technologies-block-all-for-small-size-fon2 {
    top: -176px;
    transform: translate(-117%);

    .animation-fon {
      left: 65px;
    }
  }

  .technologies-block-all-for-small-size-fon3 {
    top: -37px;
    transform: translate(-23%);

    .animation-fon {
      left: 8px;
    }
  }

  .technologies-block-all-for-small-size-fon4 {
    top: -197px;
    transform: translate(-2%);

    .animation-fon {
      left: 85px;
    }
  }

  .technologies-block-all-for-small-size-fon5 {
    top: -548px;
    transform: translate(4%);

    .animation-fon {
      left: 150px;
      top: 89px;
    }
  }

  .technologies-block-all-for-small-size-fon-show {
    display: block;
  }
}


.technologies-block-all {
  position: relative;

  .technologies-block {
    position: absolute;

    .technologies-block-animation {
      float: left;

      .animation-title {
        font-size: 18px;
        font-family: Museo-500, sans-serif;
        font-weight: bold;
        color: rgb(255, 255, 255);
        line-height: 1.278;
        transition: .3s;
      }

      &:hover .animation-title {
        color: rgb(227, 191, 104);
        transition-delay: .6s;
      }

      .animation-point {
        content: '';
        position: absolute;
        transform: scale(0);
        transition: .3s;
        transition-delay: .6s;
        z-index: 1;
      }

      &:hover .animation-point {
        transform: scale(1);
        transition-delay: 0s;
      }

      .animation-circle {
        position: absolute;
        transform: scale(0);
        transition: .3s;
        transition-delay: .6s;
      }

      &:hover .animation-circle {
        transition-delay: .1s;
        transform: scale(1);
      }

      .animation-text {
        font-size: 16px;
        font-family: Museo-100, sans-serif;
        color: rgb(255, 255, 255);
        line-height: 1.313;
        margin-top: 10px;
        width: 272px;
      }

      &:hover .animation-text {
        color: rgb(253, 233, 175);
        transition-delay: .6s;
      }
    }
  }
}

.technologies-block:before, .technologies-block:after {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  background-color: rgb(227, 191, 104);
  transition: .3s;
}

.technologies {
  padding: 61px 0 204px 0;

  .technologies-house {
    padding-top: 58px;
    text-align: center;
  }

  .technologies-block1 {
    left: 20px;
    top: -435px;

    .animation-point {
      left: 380px;
      top: -15px;
    }

    .animation-circle {
      left: 402px;
      top: 7px;
    }

    &:before {
      right: -127px;
      transform: rotate(-180deg);
      transition-delay: .1s;
    }

    &:hover::before {
      width: 170px;
      transition-delay: .6s;
    }

    &:after {
      right: -143px;
      bottom: 76px;
      transform: rotate(50deg);
      transform-origin: 100% 100%;
      transition-delay: .4s;
    }

    &:hover::after {
      width: 25px;
      transition-delay: .3s;
    }
  }

  .technologies-block2 {
    left: 90px;
    top: -181px;

    .animation-point {
      left: 280px;
      top: -48px;
    }

    .animation-circle {
      left: 302px;
      top: -26px;
    }

    &:before {
      right: -26px;
      bottom: 132px;
      transform: rotate(-180deg);
      transition-delay: .1s;
    }

    &:hover::before {
      width: 75px;
      transition-delay: .5s;
    }

    &:after {
      right: -43px;
      bottom: 151px;
      transform: rotate(-50deg);
      transform-origin: 100% 100%;
      transition-delay: .4s;
    }

    &:hover::after {
      width: 25px;
      transition-delay: .3s;
    }
  }

  .technologies-block3 {
    right: 280px;
    top: -47px;

    .animation-point {
      left: -143px;
      top: -42px;
    }

    .animation-circle {
      left: -121px;
      top: -20px;
    }

    &:before {
      right: 361px;
      bottom: 121px;
      transform: rotate(-180deg);
      transform-origin: 100% 100%;
      transition-delay: .1s;
    }

    &:hover::before {
      width: 75px;
      transition-delay: .5s;
    }

    &:after {
      right: 385px;
      bottom: 150px;
      transform: rotate(-130deg);
      transform-origin: 100% 100%;
      transition-delay: .4s;
    }

    &:hover::after {
      width: 38px;
      transition-delay: .3s;
    }
  }

  .technologies-block4 {
    right: 6px;
    top: -212px;

    .animation-point {
      left: -262px;
      top: -50px;
    }

    .animation-circle {
      left: -240px;
      top: -28px;
    }

    &:before {
      right: 476px;
      bottom: 101px;
      transform: rotate(-180deg);
      transform-origin: 100% 100%;
      transition-delay: .1s;
    }

    &:hover::before {
      width: 185px;
      transition-delay: .5s;
    }

    &:after {
      right: 499px;
      bottom: 130px;
      transform: rotate(-130deg);
      transform-origin: 100% 100%;
      transition-delay: .4s;
    }

    &:hover::after {
      width: 38px;
      transition-delay: .3s;
    }
  }

  .technologies-block5 {
    right: 37px;
    top: -415px;

    .animation-point {
      left: -132px;
      top: 2px;
    }

    .animation-circle {
      left: -110px;
      top: 24px;
    }

    &:before {
      right: 350px;
      bottom: 64px;
      transform: rotate(-180deg);
      transform-origin: 100% 100%;
      transition-delay: .1s;
    }

    &:hover::before {
      width: 65px;
      transition-delay: .5s;
    }

    &:after {
      right: 374px;
      bottom: 35px;
      transform: rotate(-230deg);
      transform-origin: 100% 100%;
      transition-delay: .4s;
    }

    &:hover::after {
      width: 38px;
      transition-delay: .3s;
    }
  }
}


.steps {
  padding-top: 40px;

  .steps-blocks {
    display: grid;
    gap: 101px 125px;
    grid-template-columns: 1fr fit-content(355px) 1fr;
    grid-template-rows: 2fr;
    padding: 45px 0 71px 0;

    .steps-block {
      display: flex;

      &:hover > .steps-block-symbol .steps-block-symbol-number {
        color: rgb(143, 143, 150);
      }

      &:hover > .steps-block-symbol .steps-block-symbol-image {
        filter: drop-shadow(0 0 0.55rem rgba(224, 199, 140, 0.6));
      }

      .steps-block-symbol {
        position: relative;

        .steps-block-symbol-number {
          font-size: 70px;
          font-family: Neumann, sans-serif;
          color: rgb(57, 57, 67);
          line-height: 0.857;
          text-align: left;
          transition: all .5s;
        }

        .steps-block-symbol-image {
          position: absolute;
          top: 50px;
          left: 12px;
          transition: all .5s;
        }
      }

      .steps-block-text {

        .steps-block-text-title {
          font-size: 18px;
          font-family: Museo-500, sans-serif;
          color: rgb(255, 255, 255);
          font-weight: bold;
          margin: 50px 0 10px 0;
        }

        .steps-block-text-description {
          font-size: 18px;
          font-family: Museo-100, sans-serif;
          color: rgb(255, 255, 255);
          line-height: 1.278;

          a {
            color: rgb(255, 255, 255);
            font-weight: bold;
          }
        }
      }
    }
  }
}

#thanks-popup {
  z-index: 3;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  background: rgba(11, 11, 12, 0.5);

  .popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 506px;
    padding: 50px 40px;
    background-image: url("../src/images/popup-fon.png");
    background-position: center;
    background-size: cover;
  }

  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 20px;
    width: 20px;
    fill: white;
    cursor: pointer;
  }

  h3 {
    font-size: 18px;
    font-family: Museo-500, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.278;
    padding-bottom: 20px;
    max-width: 432px;
    margin: 0 auto;

    span {
      color: rgb(222, 187, 103);
    }
  }

  .form-agree {
    margin: 10px 0 0 114px;
  }
}

.popup .consultation-popup-text {
  padding-bottom: 0;
  max-width: 100%;
}

.houses {
  padding: 70px 0 60px 0;

  .container {
    max-width: 1070px;

    .slider {
      position: relative;

      .slider-arrow {
        position: absolute;
        top: 57%;
        transform: translateY(-57%);
        width: 40px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      .slider-prev-arrow {
        left: -60px;
      }

      .slider-next-arrow {
        right: -60px;
      }
    }

    img {
      width: 100%;
    }
  }
}

.slick-track {
  top: 50px;
  left: -82px;
  padding: 80px;
}

.slick-dots {
  bottom: -60px;
}

.slick-dots li button:before {
  border-radius: 50%;
  border: 2px solid #e2be68;
  color: #dab865;
  opacity: 1;
  width: 11px;
  height: 11px;
  font-size: 0;
}

.slick-dots li.slick-active button:before {
  width: 11px;
  height: 11px;
  font-size: 0;
  background-color: #ecc66b;
}

.slick-active.slide {
  transform: scale(1.3);
}

.slick-center {
  .slide-card {
    display: flex;
  }

  &.slide {
    transform: scale(1.5);
    position: relative;
    z-index: 1;
  }
}

.slide-card {
  display: none;
  margin-bottom: 30px;
  margin-top: -35px;
  font-size: 9px;
  font-family: Museo-500, sans-serif;
  color: rgb(255, 255, 255);
  justify-content: center;

  .slide-card-text {
    padding: 6px 42px;
    background-color: #323238;
  }

  .slide-card-text-title {
    font-size: 10px;
  }

  .slide-card-text-title, .slide-card-text-size {
    margin-bottom: 10px;
  }

  .slide-card-text-address, .slide-card-text-area {
    padding-right: 3px;
  }
}

.slide-card-line {
  border-left: 1px solid #ffffff;
}

.payment-block-title {
  font-size: 18px;
  font-family: Museo-500, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 15px;
}

.payment-block-description {
  font-size: 18px;
  font-family: Museo-100, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.278;
}

.payment {
  padding: 60px 0 45px 0;

  .payment-square {
    padding: 45px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;

    .payment-square-block {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #313239;
      padding: 30px 40px;

      img {
        margin-right: 41px;
      }
    }
  }

  .payment-circle {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    .payment-circle-block {
      max-width: 295px;

      .payment-circle-block-image {
        border-radius: 50%;
        border: 1px solid #ecc66b;
        width: 140px;
        height: 140px;
        box-sizing: border-box;
        margin: 30px auto;

        img {
          padding: 30px;
          transition: all .5s;

          &:hover {
            filter: drop-shadow(0 0 0.55rem rgba(224, 199, 140, 0.6));
          }
        }
      }
    }
  }

  .payment-button-pdf {
    display: block;
    margin: 30px auto;
    width: 384px;
  }
}

.consultation {
  padding: 46px 0 65px 0;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 76px;

    .consultation-form {
      text-align: center;
      padding: 0 40px;
    }
  }
}

.excursion {

  .excursion-fon {
    position: relative;

    .excursion-fon-map {
      position: absolute;
      z-index: -2;
      top: 0;
      left: -38px;
    }

    .excursion-fon-map-small-size {
      display: none;
      position: absolute;
      z-index: -2;
    }

    .excursion-fon-points {
      position: absolute;
      z-index: -1;
      top: 156px;
      left: 74px;
    }

    .excursion-fon-points-shine {
      filter: drop-shadow(0 0 0.55rem rgba(224, 199, 140, 0.6));
    }
  }

  .excursion-info {
    max-width: 442px;
    text-align: center;
    margin: 0 auto;
    padding: 261px 0 160px 0;

    .excursion-info-title {
      font-size: 60px;
    }

    .excursion-info-description {
      font-size: 18px;
      font-family: Museo-500, sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1.278;
      margin: 5px 0 40px 0;
    }

    .excursion-info-button {
      width: 306px;
    }
  }
}

.footer {
  padding: 50px 0 115px 0;
  border-top: 1px solid rgb(54, 61, 81);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-info-address {
      font-size: 18px;
      font-family: Museo-500, sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1.278;
      margin-bottom: 30px;
    }

    .footer-info-time {
      font-size: 18px;
      font-family: Museo-500, sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1.278;
    }

    .logos {
      text-align: center;
      margin-right: 90px;

      .footer-links {
        margin-top: 54px;

        img {
          margin: 0 15px;
        }
      }
    }

    .footer-info2 {
      text-align: right;
    }
  }
}

@import "adaptive";






