@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Neumann;
  src: url("../src/fonts/td-neumann.otf");
}
@font-face {
  font-family: Museo-100;
  src: url("../src/fonts/ofont.ru_Museo Sans Cyrl 100.ttf");
}
@font-face {
  font-family: Museo-300;
  src: url("../src/fonts/ofont.ru_Museo Sans Cyrl 300.ttf");
}
@font-face {
  font-family: Museo-500;
  src: url("../src/fonts/ofont.ru_Museo Sans Cyrl 500.ttf");
}
@font-face {
  font-family: Museo-700;
  src: url("../src/fonts/ofont.ru_Museo Sans Cyrl 700.ttf");
}
body {
  background: #25252d;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-family: Neumann, sans-serif;
  color: rgb(236, 198, 107);
  line-height: 1.2;
  margin-bottom: 25px;
  text-align: center;
}

.button {
  font-size: 18px;
  font-family: Museo-700, sans-serif;
  line-height: 3.333;
  text-align: center;
  border-radius: 30px;
  padding: 0 21px;
  cursor: pointer;
  background-image: -webkit-linear-gradient(0deg, rgb(252, 195, 114) 0%, rgb(240, 219, 188) 100%);
  color: rgb(37, 37, 45);
  border: 0;
  transition: all 0.8s ease;
}
.button:hover {
  box-shadow: 0 5px 9px 1px rgb(117, 92, 52);
  transform: scale(1.1);
}

.button-pdf {
  text-decoration: none;
  font-size: 18px;
  font-family: Museo-700, sans-serif;
  line-height: 3.333;
  text-align: center;
  border-radius: 30px;
  padding: 0 21px;
  cursor: pointer;
  border: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
  transition: all 0.8s ease;
  box-sizing: border-box;
}
.button-pdf:hover {
  box-shadow: 0 5px 9px 1px rgb(101, 101, 101);
  transform: scale(1.1);
}

.logo img {
  transition: all 0.8s ease;
}
.logo img:hover {
  transform: scale(1.2);
}

.info-phone {
  font-size: 18px;
  font-family: Museo-700, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 0.833;
}

.info-call {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.info-call img {
  animation: rotate 3s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.info-call p {
  font-size: 16px;
  font-family: Museo-700, sans-serif;
  color: rgb(236, 198, 107);
  line-height: 0.938;
  border-bottom: 1px solid rgb(227, 191, 104);
  text-decoration: none;
  background: linear-gradient(to bottom, transparent 0%, transparent 90%, #e3bf68 100%) no-repeat 200% 0;
  background-size: 200% 100%;
  transition: all 0.5s linear;
}
.info-call p:hover {
  background-position: 100% 0;
}

.social-links a {
  text-decoration: none;
}
.social-links a img {
  transition: all 0.3s ease;
}
.social-links a img:hover {
  transform: scale(1.2);
  opacity: 50%;
}

.input {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 33px;
  width: 100%;
  padding: 22px 25px;
  font-family: Museo-300, sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  margin: 10px 0;
}

.input::placeholder {
  color: rgb(255, 255, 255);
  font-family: Museo-300, sans-serif;
  font-size: 18px;
}

.error-input {
  color: #ff0000;
  margin: 0 0 15px 0;
  font-size: 15px;
  display: none;
}

.was-validated .input:invalid {
  border-color: #ff0000;
}
.was-validated :invalid ~ .error-input {
  display: block;
}

.form-button {
  width: 100%;
  margin: 10px 0;
}

.form-agree {
  font-size: 14px;
  font-family: Museo-300, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.286;
  margin-top: 20px;
  margin-left: 104px;
  max-width: 315px;
  text-align: left;
}
.form-agree .input-agree {
  position: relative;
  appearance: none;
  transform: translate(-47px, -9px);
  cursor: pointer;
}
.form-agree .input-agree::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  transform: translate(-9%, 8%);
  border: 1px solid #fff;
}
.form-agree .input-agree:checked::after {
  content: url("../src/images/click.png");
  position: absolute;
}
.form-agree a {
  color: rgb(255, 255, 255);
}

.layout {
  background-image: url("../src/images/podlozhka.png");
  background-position: center;
  background-size: cover;
}
.layout .header {
  padding: 21px 0;
  border-bottom: 1px solid rgb(54, 61, 81);
}
.layout .header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout .header .container .burger {
  width: 40px;
  margin-right: 100px;
  cursor: pointer;
}
.layout .header .container .burger svg {
  fill: #ffffff;
}
.layout .header .container .burger svg:hover {
  animation: recolor-increase 4s;
}
@keyframes recolor-increase {
  from {
    fill: #ffffff;
    transform: scale(1);
  }
  10% {
    fill: #e8d2b2;
  }
  60% {
    fill: #f2bc70;
    transform: scale(1.05);
  }
  to {
    fill: #ffffff;
    transform: scale(1);
  }
}
.layout .header .container .header-info {
  text-align: right;
}
.layout .header .container .menu {
  background-color: #26242d;
  padding: 35px 91px 420px 310px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
.layout .header .container .menu.open {
  display: block;
}
.layout .header .container .menu .close {
  height: 30px;
  width: 30px;
  fill: white;
  margin-bottom: 51px;
  cursor: pointer;
}
.layout .header .container .menu .menu-title {
  font-size: 40px;
  font-family: Neumann, sans-serif;
  color: rgb(255, 255, 255);
  margin-bottom: 45px;
}
.layout .header .container .menu ul li {
  margin: 15px 0;
  list-style: none;
}
.layout .header .container .menu ul li a {
  font-size: 18px;
  font-family: Museo-300, sans-serif;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.layout .header .container .menu ul li a span {
  display: none;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: #e2bf67;
  margin-right: 15px;
  vertical-align: middle;
}
.layout .header .container .menu ul li a:hover {
  color: #e2bf67;
}
.layout .header .container .menu ul li a:hover span {
  display: inline-block;
}
.layout .header .container .menu .menu-links {
  margin-top: 56px;
}
.layout .header .container .menu .menu-links img {
  margin-right: 30px;
}

.main {
  padding: 162px 0 340px 0;
}
.main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .container .main-scroll {
  text-decoration: none;
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  transform-origin: 155px 170px;
}
.main .container .main-scroll img {
  margin-right: 31px;
  animation: rocking 2s 0.6s infinite;
}
@keyframes rocking {
  from {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20px, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
.main .container .main-scroll p {
  font-size: 18px;
  font-family: Museo-500, sans-serif;
  color: rgb(186, 186, 186);
  line-height: 3.333;
  text-align: center;
}
.main .container .main-info {
  max-width: 595px;
  text-align: center;
  margin-right: 155px;
}
.main .container .main-info .main-info-title {
  font-size: 50px;
}
.main .container .main-info .main-info-description {
  font-size: 18px;
  font-family: Museo-700, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 3.333;
  margin-bottom: 40px;
}
.main .container .main-info .main-info-button {
  width: 300px;
}
.main .container .main-links a {
  display: block;
}
.main .container .main-links a img {
  margin: 15px 0;
}

.projects {
  padding: 42px 0 60px 0;
}
.projects .projects-house {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 68px 0;
  column-gap: 108px;
}
.projects .projects-house .projects-house-images {
  margin: -10px;
}
.projects .projects-house .projects-house-images .projects-house-image {
  text-decoration: none;
}
.projects .projects-house .projects-house-images .projects-house-image img {
  margin: 10px;
}
.projects .projects-house .projects-house-info {
  display: grid;
  justify-content: center;
}
.projects .projects-house .projects-house-info .projects-house-info-title {
  font-size: 30px;
  font-family: Museo-500, sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-bottom: 35px;
}
.projects .projects-house .projects-house-info .projects-house-info-description {
  font-size: 18px;
  font-family: Museo-300, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.278;
  text-align: left;
}
.projects .projects-house .projects-house-info .projects-house-info-dop {
  display: flex;
  font-size: 20px;
  font-family: Museo-500, sans-serif;
  color: rgb(236, 198, 107);
  line-height: 1.25;
  justify-content: space-between;
}
.projects .projects-house .projects-house-info .projects-house-info-dop .projects-circle {
  border-radius: 50%;
  border: 1px solid #ecc66b;
  width: 110px;
  height: 110px;
  text-align: center;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 43px 0;
}
.projects .projects-house .projects-house-info .projects-house-buttons {
  display: grid;
  justify-content: center;
}
.projects .projects-house .projects-house-info .projects-house-buttons .projects-house-info-button {
  width: 365px;
  margin-bottom: 20px;
}
.projects .projects-house .projects-house-info .projects-house-buttons .projects-house-info-button-pdf {
  width: 365px;
}
.projects .projects-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects .projects-more .projects-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  font-family: Museo-500, sans-serif;
  color: rgb(137, 137, 138);
  line-height: 1.389;
}
.projects .projects-more .projects-more-button .projects-more-text {
  margin-right: 10px;
}
.projects .projects-more .projects-more-button .projects-more-image {
  transition: all 0.5s ease;
}
.projects .projects-more .projects-more-button .projects-more-image.transform {
  transform: rotate(180deg);
}

/* всё с mfp - это для попапа с увелич картинок */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

.mfp-no-margins .mfp-container {
  padding: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

img.mfp-img {
  width: 800px;
}

.technologies-block-all-for-small-size {
  display: none;
  position: relative;
}
.technologies-block-all-for-small-size .animation-point-circle {
  position: absolute;
  transition: all 0.3s ease;
  mix-blend-mode: screen;
}
.technologies-block-all-for-small-size .animation-point-circle:hover {
  filter: sepia(100%) drop-shadow(0 0 0.55rem rgba(224, 199, 140, 0.6));
}
.technologies-block-all-for-small-size .animation-point-circle1 {
  top: -438px;
  left: 50%;
  transform: translate(-290%);
}
.technologies-block-all-for-small-size .animation-point-circle2 {
  top: -233px;
  left: 50%;
  transform: translate(-338%);
}
.technologies-block-all-for-small-size .animation-point-circle3 {
  top: -99px;
  left: 50%;
  transform: translate(-81%);
}
.technologies-block-all-for-small-size .animation-point-circle4 {
  top: -260px;
  left: 50%;
  transform: translate(109%);
}
.technologies-block-all-for-small-size .animation-point-circle5 {
  top: -417px;
  left: 50%;
  transform: translate(220%);
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon {
  background-color: #32313a;
  width: 210px;
  padding: 20px;
  position: absolute;
  left: 50%;
  display: none;
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon .animation-fon {
  position: absolute;
  top: -10px;
  z-index: -1;
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon .animation-title {
  font-size: 18px;
  font-family: Museo-500, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  line-height: 1.278;
  transition: 0.3s;
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon .animation-text {
  font-size: 16px;
  font-family: Museo-100, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.313;
  margin-top: 10px;
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon1 {
  top: -378px;
  transform: translate(-105%);
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon1 .animation-fon {
  left: 68px;
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon2 {
  top: -176px;
  transform: translate(-117%);
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon2 .animation-fon {
  left: 65px;
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon3 {
  top: -37px;
  transform: translate(-23%);
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon3 .animation-fon {
  left: 8px;
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon4 {
  top: -197px;
  transform: translate(-2%);
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon4 .animation-fon {
  left: 85px;
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon5 {
  top: -548px;
  transform: translate(4%);
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon5 .animation-fon {
  left: 150px;
  top: 89px;
}
.technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon-show { /* добавляем этот класс через js для появления блока с текстом по наведению на точку на доме в блоке "технологии строительства" */
  display: block;
}

.technologies-block-all {
  position: relative;
}
.technologies-block-all .technologies-block { /* общие св-ва на пять элементов */
  position: absolute;
}
.technologies-block-all .technologies-block .technologies-block-animation {
  float: left;
}
.technologies-block-all .technologies-block .technologies-block-animation .animation-title {
  font-size: 18px;
  font-family: Museo-500, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  line-height: 1.278;
  transition: 0.3s;
}
.technologies-block-all .technologies-block .technologies-block-animation:hover .animation-title {
  color: rgb(227, 191, 104);
  transition-delay: 0.6s;
}
.technologies-block-all .technologies-block .technologies-block-animation .animation-point {
  content: "";
  position: absolute;
  transform: scale(0);
  transition: 0.3s;
  transition-delay: 0.6s;
  z-index: 1;
}
.technologies-block-all .technologies-block .technologies-block-animation:hover .animation-point {
  transform: scale(1);
  transition-delay: 0s;
}
.technologies-block-all .technologies-block .technologies-block-animation .animation-circle {
  position: absolute;
  transform: scale(0);
  transition: 0.3s;
  transition-delay: 0.6s;
}
.technologies-block-all .technologies-block .technologies-block-animation:hover .animation-circle {
  transition-delay: 0.1s;
  transform: scale(1);
}
.technologies-block-all .technologies-block .technologies-block-animation .animation-text {
  font-size: 16px;
  font-family: Museo-100, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.313;
  margin-top: 10px;
  width: 272px;
}
.technologies-block-all .technologies-block .technologies-block-animation:hover .animation-text {
  color: rgb(253, 233, 175);
  transition-delay: 0.6s;
}

.technologies-block:before, .technologies-block:after {
  content: "";
  position: absolute;
  height: 1px;
  width: 0;
  background-color: rgb(227, 191, 104);
  transition: 0.3s;
}

.technologies {
  padding: 61px 0 204px 0;
}
.technologies .technologies-house {
  padding-top: 58px;
  text-align: center;
}
.technologies .technologies-block1 { /* первый элемент */
  left: 20px; /* двигает целиком гориз */
  top: -435px; /* двигает целиком верт */
}
.technologies .technologies-block1 .animation-point {
  left: 380px;
  top: -15px;
}
.technologies .technologies-block1 .animation-circle {
  left: 402px;
  top: 7px;
}
.technologies .technologies-block1:before {
  right: -127px;
  transform: rotate(-180deg);
  transition-delay: 0.1s;
}
.technologies .technologies-block1:hover::before {
  width: 170px;
  transition-delay: 0.6s;
}
.technologies .technologies-block1:after {
  right: -143px;
  bottom: 76px;
  transform: rotate(50deg);
  transform-origin: 100% 100%;
  transition-delay: 0.4s;
}
.technologies .technologies-block1:hover::after {
  width: 25px;
  transition-delay: 0.3s;
}
.technologies .technologies-block2 { /* второй элемент */
  left: 90px; /* двигает целиком гориз */
  top: -181px; /* двигает целиком верт */
}
.technologies .technologies-block2 .animation-point {
  left: 280px;
  top: -48px;
}
.technologies .technologies-block2 .animation-circle {
  left: 302px;
  top: -26px;
}
.technologies .technologies-block2:before {
  right: -26px;
  bottom: 132px;
  transform: rotate(-180deg);
  transition-delay: 0.1s;
}
.technologies .technologies-block2:hover::before {
  width: 75px;
  transition-delay: 0.5s;
}
.technologies .technologies-block2:after {
  right: -43px;
  bottom: 151px;
  transform: rotate(-50deg);
  transform-origin: 100% 100%;
  transition-delay: 0.4s;
}
.technologies .technologies-block2:hover::after {
  width: 25px;
  transition-delay: 0.3s;
}
.technologies .technologies-block3 { /* третий элемент */
  right: 280px; /* двигает целиком гориз */
  top: -47px; /* двигает целиком верт */
}
.technologies .technologies-block3 .animation-point {
  left: -143px;
  top: -42px;
}
.technologies .technologies-block3 .animation-circle {
  left: -121px;
  top: -20px;
}
.technologies .technologies-block3:before {
  right: 361px;
  bottom: 121px;
  transform: rotate(-180deg);
  transform-origin: 100% 100%;
  transition-delay: 0.1s;
}
.technologies .technologies-block3:hover::before {
  width: 75px;
  transition-delay: 0.5s;
}
.technologies .technologies-block3:after {
  right: 385px;
  bottom: 150px;
  transform: rotate(-130deg);
  transform-origin: 100% 100%;
  transition-delay: 0.4s;
}
.technologies .technologies-block3:hover::after {
  width: 38px;
  transition-delay: 0.3s;
}
.technologies .technologies-block4 { /* четвертый элемент */
  right: 6px; /* двигает целиком гориз */
  top: -212px; /* двигает целиком верт */
}
.technologies .technologies-block4 .animation-point {
  left: -262px;
  top: -50px;
}
.technologies .technologies-block4 .animation-circle {
  left: -240px;
  top: -28px;
}
.technologies .technologies-block4:before {
  right: 476px;
  bottom: 101px;
  transform: rotate(-180deg);
  transform-origin: 100% 100%;
  transition-delay: 0.1s;
}
.technologies .technologies-block4:hover::before {
  width: 185px;
  transition-delay: 0.5s;
}
.technologies .technologies-block4:after {
  right: 499px;
  bottom: 130px;
  transform: rotate(-130deg);
  transform-origin: 100% 100%;
  transition-delay: 0.4s;
}
.technologies .technologies-block4:hover::after {
  width: 38px;
  transition-delay: 0.3s;
}
.technologies .technologies-block5 { /* пятый элемент */
  right: 37px; /* двигает целиком гориз */
  top: -415px; /* двигает целиком верт */
}
.technologies .technologies-block5 .animation-point {
  left: -132px;
  top: 2px;
}
.technologies .technologies-block5 .animation-circle {
  left: -110px;
  top: 24px;
}
.technologies .technologies-block5:before {
  right: 350px;
  bottom: 64px;
  transform: rotate(-180deg);
  transform-origin: 100% 100%;
  transition-delay: 0.1s;
}
.technologies .technologies-block5:hover::before {
  width: 65px;
  transition-delay: 0.5s;
}
.technologies .technologies-block5:after {
  right: 374px;
  bottom: 35px;
  transform: rotate(-230deg);
  transform-origin: 100% 100%;
  transition-delay: 0.4s;
}
.technologies .technologies-block5:hover::after {
  width: 38px;
  transition-delay: 0.3s;
}

/* конец блока technologies */
.steps {
  padding-top: 40px;
}
.steps .steps-blocks {
  display: grid;
  gap: 101px 125px;
  grid-template-columns: 1fr fit-content(355px) 1fr;
  grid-template-rows: 2fr;
  padding: 45px 0 71px 0;
}
.steps .steps-blocks .steps-block {
  display: flex;
}
.steps .steps-blocks .steps-block:hover > .steps-block-symbol .steps-block-symbol-number {
  color: rgb(143, 143, 150);
}
.steps .steps-blocks .steps-block:hover > .steps-block-symbol .steps-block-symbol-image {
  filter: drop-shadow(0 0 0.55rem rgba(224, 199, 140, 0.6));
}
.steps .steps-blocks .steps-block .steps-block-symbol {
  position: relative;
}
.steps .steps-blocks .steps-block .steps-block-symbol .steps-block-symbol-number {
  font-size: 70px;
  font-family: Neumann, sans-serif;
  color: rgb(57, 57, 67);
  line-height: 0.857;
  text-align: left;
  transition: all 0.5s;
}
.steps .steps-blocks .steps-block .steps-block-symbol .steps-block-symbol-image {
  position: absolute;
  top: 50px;
  left: 12px;
  transition: all 0.5s;
}
.steps .steps-blocks .steps-block .steps-block-text .steps-block-text-title {
  font-size: 18px;
  font-family: Museo-500, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 50px 0 10px 0;
}
.steps .steps-blocks .steps-block .steps-block-text .steps-block-text-description {
  font-size: 18px;
  font-family: Museo-100, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.278;
}
.steps .steps-blocks .steps-block .steps-block-text .steps-block-text-description a {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#thanks-popup {
  z-index: 3;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  background: rgba(11, 11, 12, 0.5);
}
.popup .popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 506px;
  padding: 50px 40px;
  background-image: url("../src/images/popup-fon.png");
  background-position: center;
  background-size: cover;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  fill: white;
  cursor: pointer;
}
.popup h3 {
  font-size: 18px;
  font-family: Museo-500, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.278;
  padding-bottom: 20px;
  max-width: 432px;
  margin: 0 auto;
}
.popup h3 span {
  color: rgb(222, 187, 103);
}
.popup .form-agree {
  margin: 10px 0 0 114px;
}

.popup .consultation-popup-text {
  padding-bottom: 0;
  max-width: 100%;
}

.houses {
  padding: 70px 0 60px 0;
}
.houses .container {
  max-width: 1070px;
}
.houses .container .slider {
  position: relative;
}
.houses .container .slider .slider-arrow {
  position: absolute;
  top: 57%;
  transform: translateY(-57%);
  width: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.houses .container .slider .slider-prev-arrow {
  left: -60px;
}
.houses .container .slider .slider-next-arrow {
  right: -60px;
}
.houses .container img {
  width: 100%;
}

.slick-track {
  top: 50px;
  left: -82px;
  padding: 80px;
}

.slick-dots {
  bottom: -60px;
}

.slick-dots li button:before {
  border-radius: 50%;
  border: 2px solid #e2be68;
  color: #dab865;
  opacity: 1;
  width: 11px;
  height: 11px;
  font-size: 0;
}

.slick-dots li.slick-active button:before {
  width: 11px;
  height: 11px;
  font-size: 0;
  background-color: #ecc66b;
}

.slick-active.slide {
  transform: scale(1.3);
}

.slick-center .slide-card {
  display: flex;
}
.slick-center.slide {
  transform: scale(1.5);
  position: relative;
  z-index: 1;
}

.slide-card {
  display: none;
  margin-bottom: 30px;
  margin-top: -35px;
  font-size: 9px;
  font-family: Museo-500, sans-serif;
  color: rgb(255, 255, 255);
  justify-content: center;
}
.slide-card .slide-card-text {
  padding: 6px 42px;
  background-color: #323238;
}
.slide-card .slide-card-text-title {
  font-size: 10px;
}
.slide-card .slide-card-text-title, .slide-card .slide-card-text-size {
  margin-bottom: 10px;
}
.slide-card .slide-card-text-address, .slide-card .slide-card-text-area {
  padding-right: 3px;
}

.slide-card-line {
  border-left: 1px solid #ffffff;
}

/* вариант слайдера через css */
.payment-block-title {
  font-size: 18px;
  font-family: Museo-500, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 15px;
}

.payment-block-description {
  font-size: 18px;
  font-family: Museo-100, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.278;
}

.payment {
  padding: 60px 0 45px 0;
}
.payment .payment-square {
  padding: 45px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}
.payment .payment-square .payment-square-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313239;
  padding: 30px 40px;
}
.payment .payment-square .payment-square-block img {
  margin-right: 41px;
}
.payment .payment-circle {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.payment .payment-circle .payment-circle-block {
  max-width: 295px;
}
.payment .payment-circle .payment-circle-block .payment-circle-block-image {
  border-radius: 50%;
  border: 1px solid #ecc66b;
  width: 140px;
  height: 140px;
  box-sizing: border-box;
  margin: 30px auto;
}
.payment .payment-circle .payment-circle-block .payment-circle-block-image img {
  padding: 30px;
  transition: all 0.5s;
}
.payment .payment-circle .payment-circle-block .payment-circle-block-image img:hover {
  filter: drop-shadow(0 0 0.55rem rgba(224, 199, 140, 0.6));
}
.payment .payment-button-pdf {
  display: block;
  margin: 30px auto;
  width: 384px;
}

.consultation {
  padding: 46px 0 65px 0;
}
.consultation .container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 76px;
}
.consultation .container .consultation-form {
  text-align: center;
  padding: 0 40px;
}

.excursion .excursion-fon {
  position: relative;
}
.excursion .excursion-fon .excursion-fon-map {
  position: absolute;
  z-index: -2;
  top: 0;
  left: -38px;
}
.excursion .excursion-fon .excursion-fon-map-small-size {
  display: none;
  position: absolute;
  z-index: -2;
}
.excursion .excursion-fon .excursion-fon-points {
  position: absolute;
  z-index: -1;
  top: 156px;
  left: 74px;
}
.excursion .excursion-fon .excursion-fon-points-shine {
  filter: drop-shadow(0 0 0.55rem rgba(224, 199, 140, 0.6)); /* добавляем это свечение через js */
}
.excursion .excursion-info {
  max-width: 442px;
  text-align: center;
  margin: 0 auto;
  padding: 261px 0 160px 0;
}
.excursion .excursion-info .excursion-info-title {
  font-size: 60px;
}
.excursion .excursion-info .excursion-info-description {
  font-size: 18px;
  font-family: Museo-500, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.278;
  margin: 5px 0 40px 0;
}
.excursion .excursion-info .excursion-info-button {
  width: 306px;
}

.footer {
  padding: 50px 0 115px 0;
  border-top: 1px solid rgb(54, 61, 81);
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .container .footer-info-address {
  font-size: 18px;
  font-family: Museo-500, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.278;
  margin-bottom: 30px;
}
.footer .container .footer-info-time {
  font-size: 18px;
  font-family: Museo-500, sans-serif;
  color: rgb(255, 255, 255);
  line-height: 1.278;
}
.footer .container .logos {
  text-align: center;
  margin-right: 90px;
}
.footer .container .logos .footer-links {
  margin-top: 54px;
}
.footer .container .logos .footer-links img {
  margin: 0 15px;
}
.footer .container .footer-info2 {
  text-align: right;
}

/* 1107 - 1229 */
@media screen and (max-width: 1229px) {
  .container {
    padding: 0 20px;
  }
  .layout .header .container .menu {
    padding-left: 210px;
  }
  .projects .projects-house {
    column-gap: 18px;
  }
  .technologies .container {
    max-width: 1000px;
  }
  .technologies .container .technologies-block1 {
    left: 60px;
    top: -460px;
  }
  .technologies .container .technologies-block1 .animation-point {
    left: 265px;
    top: 6px;
  }
  .technologies .container .technologies-block1 .animation-circle {
    left: 287px;
    top: 28px;
  }
  .technologies .container .technologies-block1:before {
    display: none;
  }
  .technologies .container .technologies-block1:after {
    display: none;
  }
  .technologies .container .technologies-block2 {
    left: 75px;
    top: -198px;
  }
  .technologies .container .technologies-block2 .animation-point {
    left: 183px;
  }
  .technologies .container .technologies-block2 .animation-circle {
    left: 205px;
  }
  .technologies .container .technologies-block2:before {
    display: none;
  }
  .technologies .container .technologies-block2:after {
    display: none;
  }
  .technologies .container .technologies-block3 {
    left: 474px;
    top: -50px;
    width: 272px;
  }
  .technologies .container .technologies-block3 .animation-point {
    left: -66px;
  }
  .technologies .container .technologies-block3 .animation-circle {
    left: -44px;
  }
  .technologies .container .technologies-block3:before {
    display: none;
  }
  .technologies .container .technologies-block3:after {
    display: none;
  }
  .technologies .container .technologies-block4 {
    left: 621px;
    top: -232px;
    width: 272px;
  }
  .technologies .container .technologies-block4 .animation-point {
    left: -56px;
    top: -35px;
  }
  .technologies .container .technologies-block4 .animation-circle {
    left: -34px;
    top: -13px;
  }
  .technologies .container .technologies-block4:before {
    display: none;
  }
  .technologies .container .technologies-block4:after {
    display: none;
  }
  .technologies .container .technologies-block5 {
    left: 726px;
    top: -414px;
    width: 250px;
  }
  .technologies .container .technologies-block5 .animation-point {
    left: -76px;
  }
  .technologies .container .technologies-block5 .animation-circle {
    left: -54px;
  }
  .technologies .container .technologies-block5 .animation-text {
    width: 250px;
  }
  .technologies .container .technologies-block5:before {
    display: none;
  }
  .technologies .container .technologies-block5:after {
    display: none;
  }
  .steps .steps-blocks {
    gap: 83px 58px;
  }
  .houses .container .slider .slider-prev-arrow {
    display: none !important;
  }
  .houses .container .slider .slider-next-arrow {
    display: none !important;
  }
  .payment .payment-square {
    display: block;
  }
  .payment .payment-square .payment-square-block {
    margin-bottom: 20px;
  }
  .consultation .container {
    column-gap: 5px;
  }
  .consultation .container .consultation-form .consultation-form-title {
    font-size: 33px;
  }
  .excursion {
    overflow-x: hidden; /* чтобы края карты в excursion уходили за пределы сайта по ширине */
    margin-bottom: 60px;
  }
  .excursion .container {
    background-image: url("../src/images/map.png"); /* фон с картой даём здесь с 1229 и менее */
    background-position: center;
    background-size: cover;
  }
  .excursion .container .excursion-fon .excursion-fon-map {
    display: none;
  }
  .excursion .container .excursion-fon .excursion-fon-points {
    display: none;
  }
  .excursion .container .excursion-info {
    padding: 235px 0 111px;
  }
}
/* 1024 - 1106 */
@media screen and (max-width: 1106px) {
  .layout .header .container .menu {
    padding-left: 91px;
  }
  .projects .projects-house .projects-house-info .projects-house-info-description {
    font-size: 16px;
  }
  .steps .steps-blocks {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .consultation-image img {
    max-width: 500px;
  }
}
/* 820 - 1023 */
@media screen and (max-width: 1023px) {
  .main {
    padding: 102px 0 140px;
  }
  .main .container {
    display: block;
  }
  .main .container .main-scroll {
    display: none;
  }
  .main .container .main-info {
    margin: 0 auto;
  }
  .main .container .main-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .main .container .main-links a {
    margin: 0 15px;
  }
  .projects .projects-house {
    display: grid;
    justify-content: center;
    text-align: center;
  }
  .projects .projects-house .projects-house-info {
    margin: 40px 0;
    order: 2;
    grid-template-columns: 588px;
  }
  .projects .projects-house .projects-house-info .projects-house-info-title {
    text-align: center;
  }
  .projects .projects-house .projects-house-info .projects-house-info-description {
    text-align: center;
  }
  .projects .projects-house .projects-house-images {
    order: 1;
  }
  .technologies-block-all {
    display: none;
  }
  .technologies-block-all-for-small-size {
    display: block;
  }
  .steps .steps-blocks {
    grid-template-columns: 1fr 1fr;
  }
  .slide-card .slide-card-text {
    padding: 6px 33px;
  }
  .payment .payment-circle {
    display: grid;
    row-gap: 50px;
  }
  .consultation .container {
    display: grid;
    row-gap: 50px;
  }
  .consultation .container .consultation-form {
    max-width: 500px;
  }
}
/* 640 - 819 */
@media screen and (max-width: 819px) {
  .layout .header .container .header-info {
    display: none;
  }
  .main {
    padding: 60px 0 110px;
  }
  .main .container .main-links {
    margin-top: 15px;
  }
  .projects .projects-house {
    padding: 0;
  }
  .technologies {
    padding: 45px 0 140px;
  }
  .slick-track {
    top: -18px;
    left: -41px;
    padding: 41px;
  }
  .slick-center.slide, .slick-active.slide {
    transform: scale(1.2);
  }
  .slide-card {
    display: flex;
    font-size: 15px;
  }
  .slide-card .slide-card-text {
    padding: 10px 84px;
  }
  .slide-card .slide-card-text-title {
    font-size: 18px;
  }
  .payment .payment-square {
    padding: 0;
  }
  .payment .payment-circle {
    row-gap: 23px;
  }
  .footer .container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer .container .logos {
    margin: 0 0 50px 0;
    order: 1;
  }
  .footer .container .logos .footer-links {
    margin-top: 35px;
  }
  .footer .container .footer-info1 {
    order: 2;
    margin-bottom: 50px;
  }
  .footer .container .footer-info2 {
    text-align: center;
    margin: 0 auto;
    order: 3;
  }
  .footer .container .footer-info2 .info-phone {
    margin-left: 10px;
  }
}
/* 425 - 639 */
@media screen and (max-width: 639px) {
  .layout .header .container .burger svg {
    width: 30px;
  }
  .logo img {
    width: 80px;
  }
  .title {
    font-size: 30px;
  }
  .layout .header .container .menu .menu-title {
    font-size: 30px;
    margin-bottom: 28px;
  }
  .layout .header .container .menu .menu-links {
    margin-top: 45px;
  }
  .layout .header .container .menu .menu-links img {
    margin-right: 18px;
    width: 25px;
  }
  .layout .header .container .menu .close {
    height: 15px;
    width: 15px;
    margin-bottom: 32px;
  }
  .main .container .main-info {
    max-width: 450px;
  }
  .main .container .main-info .main-info-title {
    font-size: 30px;
  }
  .main .container .main-info .main-info-description {
    line-height: 1.2;
    font-size: 15px;
  }
  .projects {
    padding: 12px 0 30px;
  }
  .projects .projects-house .projects-house-images .projects-house-image img {
    width: 370px;
    margin: 5px;
  }
  .projects .projects-house .projects-house-images .projects-house-image-small .projects-house-image img {
    width: 114px;
  }
  .projects .projects-house .projects-house-info {
    grid-template-columns: 370px;
  }
  .projects .projects-house .projects-house-info .projects-house-info-title {
    font-size: 24px;
  }
  .projects .projects-house .projects-house-info .projects-house-info-description {
    font-size: 12px;
  }
  .projects .projects-house .projects-house-info .projects-house-buttons .button, .projects .projects-house .projects-house-info .projects-house-buttons .button-pdf {
    width: 280px;
    font-size: 12px;
  }
  .projects .projects-more .projects-more-button {
    font-size: 12px;
  }
  .projects .projects-more .projects-more-button .projects-more-image {
    width: 12px;
  }
  .technologies {
    padding: 20px 0 172px;
  }
  .technologies .technologies-house img {
    width: 300px;
  }
  .technologies-block-all-for-small-size .animation-point-circle1 {
    top: -223px;
    transform: translate(-196%);
  }
  .technologies-block-all-for-small-size .animation-point-circle2 {
    top: -167px;
    transform: translate(-232%);
  }
  .technologies-block-all-for-small-size .animation-point-circle3 {
    top: -61px;
    transform: translate(-94%);
  }
  .technologies-block-all-for-small-size .animation-point-circle4 {
    top: -182px;
    transform: translate(24%);
  }
  .technologies-block-all-for-small-size .animation-point-circle5 {
    top: -237px;
    transform: translate(71%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon {
    width: 124px;
    padding: 10px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon .animation-title {
    font-size: 14px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon .animation-text {
    font-size: 12px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon1 {
    top: -353px;
    transform: translate(-104%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon1 .animation-fon {
    top: 95px;
    left: 21px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon2 {
    top: -108px;
    transform: translate(-132%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon2 .animation-fon {
    left: 35px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon3 {
    top: 1px;
    transform: translate(-100%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon3 .animation-fon {
    left: 84px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon4 {
    top: -121px;
    transform: translate(2%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon4 .animation-fon {
    left: 20px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon5 {
    top: -335px;
    transform: translate(10%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon5 .animation-fon {
    left: 40px;
    top: 62px;
  }
  .steps .steps-blocks {
    gap: 55px;
  }
  .steps .steps-blocks .steps-block .steps-block-symbol .steps-block-symbol-number {
    font-size: 50px;
  }
  .steps .steps-blocks .steps-block .steps-block-symbol .steps-block-symbol-image {
    top: 40px;
    left: 10px;
  }
  .steps .steps-blocks .steps-block .steps-block-symbol .steps-block-symbol-image img {
    width: 36px;
  }
  .steps .steps-blocks .steps-block .steps-block-text .steps-block-text-title {
    margin: 14px 0 10px;
    font-size: 16px;
  }
  .steps .steps-blocks .steps-block .steps-block-text .steps-block-text-description {
    font-size: 14px;
  }
  .houses {
    padding: 0;
  }
  .slick-track {
    top: 19px;
    left: -27px;
    padding: 27px;
  }
  .slide-card {
    font-size: 13px;
  }
  .slide-card .slide-card-text {
    padding: 10px 56px;
  }
  .slide-card .slide-card-text-title {
    font-size: 16px;
  }
  .steps .steps-blocks {
    grid-template-columns: 1fr;
  }
  .payment .payment-square .payment-square-block {
    padding: 20px;
    align-items: start;
  }
  .payment .payment-square .payment-square-block img {
    margin-right: 25px;
    width: 36px;
  }
  .payment .payment-circle .payment-circle-block .payment-circle-block-image {
    width: 122px;
    height: 122px;
    margin: 10px auto;
  }
  .payment .payment-circle .payment-circle-block .payment-circle-block-image img {
    padding: 20px;
  }
  .payment .payment-button-pdf {
    width: 280px;
    font-size: 12px;
  }
  .payment .payment-circle .payment-square-block .payment-circle-block-image {
    width: 110px;
    height: 110px;
  }
  .payment .payment-circle .payment-square-block .payment-circle-block-image img {
    width: 45px;
  }
  .payment-block-description {
    font-size: 15px;
  }
  .excursion .excursion-info .excursion-info-title {
    font-size: 40px;
  }
  .form-button, .input {
    width: 280px;
    font-size: 12px;
  }
  .input {
    padding: 12px 25px;
  }
  .input::placeholder {
    font-size: 12px;
  }
  .form-button {
    width: 280px;
  }
  .consultation-image {
    margin: 0 auto;
  }
  .consultation-image img {
    max-width: 370px;
  }
  .excursion .container .excursion-info {
    padding: 121px 0 15px;
  }
  .excursion .container .excursion-info .excursion-info-description {
    font-size: 15px;
  }
  .popup .popup-container {
    width: 290px;
    padding: 50px 10px;
  }
  .popup h3 {
    font-size: 11px;
    max-width: 260px;
  }
  .popup .form-agree {
    margin-left: 65px;
  }
  .form-agree {
    margin-left: 80px;
    font-size: 11px;
    max-width: 245px;
  }
  .popup .close {
    width: 14px;
  }
  .button {
    font-size: 12px;
  }
  .button:hover {
    transform: scale(1.04);
  }
  .footer {
    padding: 40px 0 65px;
  }
  .footer .container .logos {
    margin-bottom: 20px;
  }
  .footer .container .logos .footer-links {
    margin-top: 10px;
  }
  .footer .container .footer-info1 {
    margin-bottom: 20px;
  }
  .footer .container .footer-info-address, .footer .container .footer-info-time, .footer .container .info-phone {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .excursion .excursion-info .excursion-info-button {
    width: 280px;
  }
  .footer .container .logos .footer-links img {
    width: 20px;
  }
  .consultation .container .consultation-form {
    max-width: 400px;
    padding: 0 10px;
  }
}
/* 320 - 424 */
@media screen and (max-width: 424px) {
  .title {
    font-size: 26px;
  }
  .main .container .main-info .main-info-title {
    font-size: 26px;
  }
  .main .container .main-info .main-info-button {
    width: 280px;
  }
  .projects {
    padding: 12px 0 30px;
  }
  .projects .projects-house .projects-house-images .projects-house-image img {
    width: 280px;
  }
  .projects .projects-house .projects-house-images .projects-house-image-small .projects-house-image img {
    width: 84px;
  }
  .projects .projects-house .projects-house-info {
    grid-template-columns: 300px;
  }
  .projects .projects-house .projects-house-info .projects-house-info-dop .projects-circle {
    width: 96px;
    height: 96px;
    font-size: 14px;
    margin: 25px 0;
  }
  .technologies {
    padding: 20px 0 106px;
  }
  .technologies .technologies-house img {
    width: 280px;
  }
  .technologies-block-all-for-small-size .animation-point-circle1 {
    top: -235px;
    transform: translate(-168%);
  }
  .technologies-block-all-for-small-size .animation-point-circle2 {
    top: -158px;
    transform: translate(-215%);
  }
  .technologies-block-all-for-small-size .animation-point-circle3 {
    top: -79px;
    transform: translate(-68%);
  }
  .technologies-block-all-for-small-size .animation-point-circle4 {
    top: -181px;
    transform: translate(24%);
  }
  .technologies-block-all-for-small-size .animation-point-circle5 {
    top: -230px;
    transform: translate(57%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon {
    width: 106px;
    padding: 10px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon .animation-title {
    font-size: 11px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon .animation-text {
    font-size: 9px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon1 {
    top: -328px;
    transform: translate(-99%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon1 .animation-fon {
    top: 56px;
    left: 15px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon2 {
    top: -102px;
    transform: translate(-121%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon2 .animation-fon {
    left: 8px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon3 {
    top: -20px;
    transform: translate(-68%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon3 .animation-fon {
    left: 44px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon4 {
    top: -121px;
    transform: translate(2%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon4 .animation-fon {
    left: 20px;
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon5 {
    top: -309px;
    transform: translate(8%);
  }
  .technologies-block-all-for-small-size .technologies-block-all-for-small-size-fon5 .animation-fon {
    left: 35px;
    top: 41px;
  }
  .slide-card .slide-card-text-title {
    font-size: 12px;
  }
  .slide-card {
    font-size: 10px;
  }
  .slide-card .slide-card-text {
    padding: 10px 34px;
  }
  .payment {
    padding-bottom: 0;
  }
  .consultation-image img {
    max-width: 280px;
  }
  .form-agree {
    margin-left: 60px;
  }
  .excursion .container .excursion-info {
    padding: 0;
  }
  .excursion .container .excursion-info .excursion-info-title {
    font-size: 33px;
  }
}

/*# sourceMappingURL=style.css.map */
